@model Flaw.Models.CashModel

@{
    ViewData["Title"] = "Details";
}

<h2>Մանրամասներ</h2>

<div>
    <h4>Կանխիկ դրամարկղաին օրդեր</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountingPass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountingPass)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Խմբագրել</a> |
    <a asp-action="Index">Վերադառնալ ցուցակ</a> |
    <a asp-action="ExportToXML" asp-route-id="@Model.Id" download="true">Արտահանել XML ֆորմատով</a>
</div>


