@model IEnumerable<Flaw.Models.CashModel>
@{
    ViewData["Title"] = "Index";
}
<h2>Մուտքի և ելքի օրդերներ</h2>
<p>
    <a asp-action="Create">Ավելացնել</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrdersNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountingPass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @functions{

            public string GetTypeValue(CashModel item)
            {
                if (item.Type == BargainType.CashIn)
                {
                    return "Մուտք";
                }
                else
                {
                    return "Ելք";
                }
            }
        }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrdersNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountingPass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @GetTypeValue(item)
            </td>
            <td>
                <a><span class="actionsOpener">Գործ.</span></a>
                <div class="actions" id="actions_div">
                    <a asp-action="Edit" asp-route-id="@item.Id">Խմբագրել</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Մանրամասներ</a>
                    @if (Context.User.Identity.Name == "admin@admin.am")
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Ջնջել</a>

                    }
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

@section scripts{
    <script>
        $(function () {


            $(document).on("click", function () {
                $(".actions").hide();
            });

            $(".actions").on("click", function (event) {
                event.stopPropagation();
            });

            $(".actionsOpener").on('click', function () {
                event.stopPropagation();
                var tr = $(this).parent().parent();
                var div = tr.find('div.actions');
                div.slideToggle();
            });
        });
    </script>
}