@model Flaw.Models.ApplicationUser

@{
    ViewData["Title"] = "Delete";
}

<h2>Ջնջել օգտատեր</h2>

<h3>Հաստատու՞մ եք</h3>
<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
      
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Ջնջել" class="btn btn-default" /> |
            <a asp-action="UsersList">Վերադառնալ ցուցակ</a>
        </div>
    </form>
    

</div>
