@model IEnumerable<Flaw.Models.ApplicationUser>

@{
    ViewData["Title"] = "UsersList";
}

<h2>Օգտատերեի ցանկ</h2>
<h3>
    <a asp-action="Register" asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]">Գրանցել նոր օգտատեր</a>
</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>

            @*<th>
                @Html.DisplayNameFor(model => model.NormalizedEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NormalizedUserName)
            </th>*@

            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="DeleteUser" asp-route-id="@item.Id">Ջնջել</a>
            </td>
        </tr>
}
    </tbody>
</table>
