@model IEnumerable<Flaw.Models.Privilege>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Ավելացնել</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.PrivilegeNumber)
            </th>*@

            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
                        
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Մանրամասներ</a> |
                    @if (Context.User.Identity.Name == "admin@admin.am")
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Խմբագրել</a> @:|
                        <a asp-action="Delete" asp-route-id="@item.Id">Ջնջել</a>
                    }

                    
                </td>
            </tr>
        }
    </tbody>
</table>
