@model IEnumerable<Flaw.Models.PendingPaymentModel>
@functions{
    public string GetCurrentStatusValue(PendingPaymentModel item)
    {
        if (item.Status == PaymentStatus.Pending)
        {
            return "Չվճարված";
        }
        else if (item.Status == PaymentStatus.Paused)
        {
            return "Սառեցված";
        }
        else if (item.Status == PaymentStatus.Payed)
        {
            return "Վճարված";
        }
        else
        {
            return "Կասեցված";
        }

    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepositOrDebt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PaymentDeadline)
                </td>

                <td>
                    @if (item.DepositOrDebt > 0)
                    {
                        @:+@item.DepositOrDebt.Value
                    }
                    else
                    {
                        @item.DepositOrDebt.Value
                    }
                </td>

                <td>
                    @GetCurrentStatusValue(item);
                </td>
            </tr>
        }
    </tbody>
</table>
