@model IEnumerable<Flaw.Models.FeeAmountChangeModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChangeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OldAmount)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldAmount)
            </td>
            

        </tr>
}
    </tbody>
</table>
