@model IEnumerable<Flaw.Models.FeeAmountChangeModel>

@{
    ViewData["Title"] = "AmountChangeModels";
}

<h2>AmountChangeModels</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChangeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OldAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldAmount)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
