@model Flaw.Models.MembershipFee

@{
    ViewData["Title"] = "Delete";
}

<h2>?????</h2>

<h3>???? ???????? ??, ?? ?????? ?? ????? ??? ????????????</h3>
<div>
    <h4>MembershipFee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AmountWithDiscount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AmountWithDiscount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RealAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
