@*@using Microsoft.CodeAnalysis.CSharp.Syntax*@
@using Microsoft.CodeAnalysis
@model IEnumerable<Flaw.Models.MembershipFee>
@{
    ViewData["Title"] = "Index";
}
<meta charset="utf-8" />
<p>
    <a asp-action="Create">Ավելացնել</a>
</p>
<p>
    <a asp-action="ExportToExcel">Արտահանել Excel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RealAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountWithDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.End)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.LeftOver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodicity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @functions{

                public string GetClass(MembershipFee item)
                {
                    if (item.CurrentState == FeeState.Pause)
                    {
                        return "paused";
                    }
                    else if (item.CurrentState == FeeState.Finish)
                    {
                        return "finished";
                    }
                    else
                    {
                        return string.Empty;
                    }
                }

            }
            <tr class="@GetClass(item)">
                <td>
                    @Html.DisplayFor(modelItem => item.RealAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountWithDiscount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonthlyPay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.End)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.LeftOver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Periodicity)
                </td>
                <td>
                    <a><span class="actionsOpener">Actions</span></a>
                    <div class="actions">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        <a asp-action="AddPayment" asp-route-id="@item.Id">Add Payment</a> 
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        @if (Context.User.Identity.Name == "admin@admin.am")
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    </div>
                </td>
            </tr>


        }
    </tbody>

</table>

@section scripts{
    <script>
        $(function () {
            $(".actionsOpener").on('click', function () {
                var tr = $(this).parent().parent();
                var div = tr.find('div.actions');
                div.slideToggle();
            });
        });
    </script>
}