@*@using Microsoft.CodeAnalysis.CSharp.Syntax*@
@using Microsoft.CodeAnalysis
@using Flaw.Data
@model PaginatedList<Flaw.Models.MembershipFee>
@{
    ViewData["Title"] = "Index";
}
<meta charset="utf-8" />
<h2>Անդամավճարներ</h2>
<p>
    <a asp-action="Create">Ավելացնել</a>
</p>
<p>
    <a><span id="exportToExcel" class="cursorPointer">Արտահանել Excel</span></a>
</p>
<a><span id="filterText" class="cursorPointer" style="font-size:18px">Ֆիլտրեր</span></a>
<form asp-action="Index" id="Filters" class="displayNone">
    <div class="table-bordered">
        <label>
            Ընթացիկ վիճակ<select asp-items="@Html.GetEnumSelectList<FeeState>()" id="state" name="currentState" class="form-control">
                <option value="-1"> </option>
            </select>
        </label>
    </div>
    <div class="table-bordered">
        <label>Ըստ արտոնությունների<select asp-items="@ViewBag.PrivilegeType" id="privilege" class="form-control" name="PrivilegeType"><option value="-1"> </option></select></label>
        <br>
        @*<label>Ըստ վերականգման @Html.CheckBox(Name) </label>*@
    </div>
    <div class="table-bordered">
        <label>
            Ըստ պարտքի միջակայքի <br />
            Սկսած<input class="marginleft5px" id="startDate" type="number" name="LeftOverFrom" value="@((double)ViewData["LeftOverFromFilterParam"])" /> <br />
            Մինչև<input class="marginleft5px" id="endDate" type="number" name="LeftOverTo" value="@((double)ViewData["LeftOverToFilterParam"])" />
        </label>
    </div><br />
    @*<div class="table-bordered">
            <label>Ըստ կարգապահական տույժերի <input id="penalty" name="Penalty" value="@ViewData["PenaltyFilterParam"]"/></label>
        </div>*@
    <input type="submit" id="submit" value="Փնտրել" />
</form>
<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].RealAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].AmountWithDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].MonthlyPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CurrentState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Start)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.End)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model[0].LeftOver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Periodicity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].PrivilegeType)
            </th>
            <th> </th>
        </tr>
    </thead>
    <tbody id="tbody">
        @functions{

            public string GetClass(MembershipFee item)
            {
                if (item.CurrentState == FeeState.Pause)
                {
                    return "paused";
                }
                else if (item.CurrentState == FeeState.Finish)
                {
                    return "finished";
                }
                else
                {
                    return string.Empty;
                }
            }

            public string GetStateValue(MembershipFee item)
            {
                if (item.CurrentState == FeeState.Pause)
                {
                    return "Սառեցված";
                }
                else if (item.CurrentState == FeeState.Finish)
                {
                    return "Ավարտված";
                }
                else
                {
                    return "Ակտիվ";
                }
            }

            public string GetPeriodicityValue(MembershipFee item)
            {
                if (item.Periodicity == FeePeriodicity.Year)
                {
                    return "Տարի";
                }
                else
                {
                    return "Ամիս";
                }
            }
        }

        @foreach (var item in Model)
        {


            <tr class="@GetClass(item)">
                <td>
                    @Html.DisplayFor(modelItem => item.RealAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountWithDiscount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonthlyPay)
                </td>
                <td>
                    @GetStateValue(item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeftOver)
                </td>
                <td>
                    @GetPeriodicityValue(item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrivilegeType)
                </td>
                <td>
                    <a><span class="actionsOpener">Գործողություններ</span></a>
                    <div class="actions">
                        <a asp-action="Edit" asp-route-id="@item.Id">Խմբագրել</a>
                        <a asp-action="AddPayment" asp-route-id="@item.Id">Ավելացնել Վճարում</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Մանրամասներ</a>
                        @if (Context.User.Identity.Name == "admin@admin.am")
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id">Ջնջել</a>
                        }
                    </div>
                </td>
            </tr>


        }
    </tbody>

</table>
<div id="code" style="display:none"></div>
<div id="pager">
    @for (int i = 1; i < Model.TotalPages + 1; i++)
    {
        <a asp-action="Index" asp-route-page="@i"
           asp-route-currentState="@ViewData["currentStateFilterParam"]"
           asp-route-PrivilegeType="@ViewData["PrivilegeTypeFilterParam"]"
           asp-route-LeftOverFrom="@ViewData["LeftOverFromFilterParam"]"
           asp-route-LeftOverTo="@ViewData["LeftOverToFilterParam"]"
           asp-route-Returned="@ViewData["ReturnedFilterParam"]">@i</a>
    }
    @*asp-route-Penalty="@ViewData["PenaltyFilterParam"]"*@
</div>

@section scripts{
    <script>
        $(function () {
            var state='@ViewData["currentStateFilterParam"]',
                privilege='@ViewData["PrivilegeTypeFilterParam"]',
                reactivated=@ViewData["ReturnedFilterParam"],
                startDate=@ViewData["LeftOverFromFilterParam"],
                endDate=@ViewData["LeftOverToFilterParam"],
                @*penalty=@ViewData["PenaltyFilterParam"],*@
                id;

            if(reactivated=="true"){
                $("#returned").prop( "checked", true );
            }

            function attachClickEvent() {
                $(".paging")
                    .on('click',
                        function () {
                            id = parseInt($(event.target).attr('id'));
                            GetResult();
                        });
            }

            @*count = @ViewBag.pages;
            for (var i = 1; i < count; i++) {
                var a = $('<a>');
                a.attr('id',i);
                a.attr('class','paging');
                a.html(i);
                a.appendTo($("#pager" ));
            }*@
            attachClickEvent();

            $("#filterText")
                .on('click',
                    function () {
                        var div = $('#Filters');
                        //div.toggleClass('displayNone display');
                        div.slideToggle();
                    });

            $(document).on("click", function () {
                $(".actions").hide();
            });

            $(".actions").on("click", function (event) {
                event.stopPropagation();
            });

            $(".actionsOpener")
                .on('click',
                    function (e) {
                        e.stopPropagation();
                        var tr = $(this).parent().parent();
                        var div = tr.find('div.actions');
                        div.slideToggle();
                    });

            //$("#submit")
            //    .on('click', function () {
            //        GetResult();
            //    });

            function GetResult() {
                state = $("#state option:selected").val();
                privilege = $("#privilege option:selected").val();
                reactivated = $("#returned").is(':checked');
                startDate = $("#startDate").val();
                endDate = $("#endDate").val();
                //penalty = $("#penalty option:selected").text();
                $('.paging').remove();


                attachClickEvent();
                @*$.ajax({
                    method: "GET",
                    url: '@Url.Action("Filter", "MembershipFees")',
                    data: {
                        State: state,
                        Privilegee: privilege,
                        Returned: reactivated,
                        from: startDate,
                        to: endDate,
                        Penalty: penalty,
                        page: id
                    },
                    success: function (result) {
                        $("#tbody").html("").html(result);
                        @*count = @ViewBag.pages;
                        $(".actionsOpener")
                            .on('click',
                                function () {
                                    var tr = $(this).parent().parent();
                                    var div = tr.find('div.actions');
                                    div.slideToggle();
                                });
                    }
                });*@
                //for (var i = 1; i < count; i++) {
                //    var a = $('<a>');
                //    a.attr('id',i);
                //    a.attr('class','paging');
                //    a.html(i);
                //    a.appendTo($("#pager" ));
                //}
            }

            $("#exportToExcel")
                .click(function () {
                    var myObject = {};

                    //if (state != "-1") {
                    myObject["currentState"] = state;
                    //} else {
                    //    myObject["currentState"] = "-1";
                    //}

                    //if (privilege != "-1") {
                    myObject["PrivilegeType"] = $('#code').html(privilege).text();
                    //} else {
                    //    myObject["PrivilegeType"] = "-1";
                    //}

                    //if (reactivated != "-1" && reactivated != "") {
                    myObject["Returned"] = reactivated;
                    //} else {
                    //    myObject["Returned"] = false;
                    //}

                    //if (startDate != 0) {
                    myObject["LeftOverFrom"] = startDate;
                    //} else {
                    //    myObject["LeftOverFrom"] = 0;
                    //}

                    //if (endDate != 0) {
                    myObject["LeftOverTo"] = endDate;
                    //} else {
                    //    myObject["LeftOverTo"] = 0;
                    //}

                    //if (penalty != "-1" && penalty != "") {
                    //    myObject["Penalty"] = penalty;
                    //} else {
                    //    myObject["Penalty"] = "null";
                    //}

                    var querystr = $.param(myObject);
                    var actionUrl = '@Url.Action("ExportToExcel")';
                    window.location.href = actionUrl + "?" + querystr;
                });
        });
    </script>
}